<hr>
<div class="aboutContent">
    <div class="topContent">
        <img class="aboutImg1" src="../../../assets/N.png" alt="">
        <div class="topText">
            <h1>NONEFACE IS GREAT SITE</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ex ea, nihil est eveniet accusamus laudantium amet ut architecto natus saepe odit perferendis nemo sed, quia voluptates hic et debitis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ex ea, nihil est eveniet accusamus laudantium amet ut architecto natus saepe odit perferendis nemo sed, quia voluptates hic et debitis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ex ea, nihil est eveniet accusamus laudantium amet ut architecto natus saepe odit perferendis nemo sed, quia voluptates hic et debitis.
            </p>
            
        </div>
    </div>
    <div class="topContent">
        
        <div class="topText">
            <h1>NONEFACE IS GREAT SITE</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ex ea, nihil est eveniet accusamus laudantium amet ut architecto natus saepe odit perferendis nemo sed, quia voluptates hic et debitis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ex ea, nihil est eveniet accusamus laudantium amet ut architecto natus saepe odit perferendis nemo sed, quia voluptates hic et debitis.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ex ea, nihil est eveniet accusamus laudantium amet ut architecto natus saepe odit perferendis nemo sed, quia voluptates hic et debitis.
            </p>
        </div>
        <img class="aboutImg2" src="../../../assets/N.png" alt="">
    </div>
</div>
<hr>
