<div class="footer">
    <div class="footer-text">
      <div class="container">
        <div class="row footRow">
          <div class="col-sm footclass">
            <ul><h3 >SOCIAL MEDIA</h3>
              <li><a href="https://www.youtube.com/@lukachemia7479">Youtube</a></li>
              <li><a href="https://www.facebook.com/hazelschoolofmanagement/">Facebook</a></li>
              <li><a href="https://www.linkedin.com/company/hazelschoolofmanagement/">Linkedin</a></li>
            </ul>
          </div>
          <div class="col-sm footclass">
            <ul><h3>SERVICES</h3>
              <li><a href="">Youtube</a></li>
              <li><a href="">Facebook</a></li>
              <li><a href="">Instagram</a></li>
            </ul>
          </div>
          <div class="col-sm footclass">
            <ul><h3>CONTACT</h3>
              <li><a href="">{{'Infononeface@gmail.com '}}</a></li>
              <li> +995 599 514 148</li>
              <li>+995 599 985 826</li>
            </ul>
          </div>
       
          <hr>
        </div>
        <div class="autor " >
          <p class="col-6"> NoneFace, Designed by Luka Chemia</p>
          <p class="col-6 Ri">{{'Email: Infononeface@gmail.com'}}</p>
        </div>
      </div>
    </div>
  </div>
