<hr>
<div class="landingPageContent">
<div class="nonefaceText">
    <div class="headerText">
        <h1>NONEFACE</h1>
        <h2>N</h2>
        <h2>O</h2>
        <h2>N</h2>
        <h2>E</h2>
        <h2>F</h2>
        <h2>A</h2>
        <h2>C</h2>
        <h2>E</h2>
        <h3>NO FACE CONTROL ANYMORE</h3>
    </div>
    
  </div>
  <h1 class="eventText">NEW EVENTS</h1>
  <div class="pluses">
    <div class="row">
        <div class="col">
          <img src="../../../assets/event1.PNG"  alt="">
        </div>
        <div class="col">
          <img src="../../../assets/event2.PNG"  alt="">
        </div>
        <div class="col">
          <img src="../../../assets/event3.PNG"  alt="">
        </div>
      </div>
  </div>

  <h1 class="trendingBarsHeader">Popular Bars</h1>
  <div class="bars">
    <div class="row">
        <div class="col-4">
          <div class="barsText">
            <div class="card barCard" >
              <img class="card-img-top" src="../../../assets/sakhelosno.jpg"  alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Sakhelosno</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn barBtn">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="barsText">
            <div class="card barCard" >
              <img class="card-img-top" src="../../../assets/lovebar.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Love Bar</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn barBtn">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="barsText">
            <div class="card barCard" >
              <img class="card-img-top" src="../../../assets/catashina.jpg"  alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Ratis Bar</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn barBtn">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="barsText">
            <div class="card barCard" >
              <img class="card-img-top big3" src="../../../assets/khidi.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Kidi</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn barBtn">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="barsText">
            <div class="card barCard" >
              <img class="card-img-top big2" src="../../../assets/mtkvarze.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Mtkvarze</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn barBtn">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="barsText">
            <div class="card barCard bc6" >
              <img class="card-img-top big1" src="../../../assets/bassiani.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Basiani</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn barBtn">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <h1 class="eventText" style="margin-top: 50px; margin-bottom: 50px;">SUBSCRIPTION</h1>
  <div class="subscription">
    <div class="row">
        <div class="col BRONZE">
          <!-- <h1 class="price" >20₾</h1> -->
          <a  [routerLink]="['/subscription']"><img class="packet" src="../../../assets/bronze.png" width="250px" alt=""></a>
          <!-- <h1>BRONZE</h1> -->
        </div>
        <div class="col SILVER">
          
          <a [routerLink]="['/subscription']"><img class="packet" src="../../../assets/silver.png" width="250px" alt=""></a>

          <!-- <h1>SILVER</h1> -->
        </div>
        <div class="col GOLD">
          <!-- <h1 class="price" >40₾</h1> -->
            <a [routerLink]="['/subscription']"><img class="packet" src="../../../assets/gold.png" width="250px" alt=""></a>

          <!-- <h1>GOLD</h1> -->
        </div>
      </div>
  </div>
  <hr>
</div>